*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}

:root{
    scroll-behavior: initial;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to right, #b8cbb86b 0%, #b8cbb82a 0%, #b465da 0%, rgba(207, 108, 200, 0.42) 33%, #ee609b38 66%, #ee609b46 100%), url(/Img/gb-color-inline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(127, 196, 48, 0.598) ;
}

.hambuergeso {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: rgba(211, 108, 255, 0.468);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0) ;
}

.menu-navegacion a{
    color: white;
    text-decoration: none;
}
 

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*Nuestro  servicio*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: blue;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img {
    width: 40%;
}

.checklist-servicio {
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 7px;
    color: chocolate;
}
.number{
    display: inline-block;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*Galeria*/

.gallery {
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

.contenedor-galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-galeria{
    width: 30%;
    display: grid;
    margin-bottom: 15px;
    box-shadow: white;
    cursor: pointer;
}

.imagenes-box{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    cursor: pointer;
}

.expert{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap ;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: grid;
    margin: 0 auto;
}

..n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

footer{
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contac-us{
    width: 40%;
    color: #ffffff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.social-media-icon:hover{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    color: blueviolet;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}